<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.apen.simple">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ConstraintActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SocketActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ZxingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".activity.TextSwitcherActivity"/>

        <activity android:name=".activity.customview.CustomViewActivity"/>
        <activity android:name=".activity.customview.TouchViewActivity"/>
        <activity android:name=".activity.ServiceActivity"/>

        <activity android:name=".activity.ViewPagerActivity"/>

        <activity android:name=".activity.EventBusActivity"/>
        <activity android:name=".activity.EventBus2Activity"/>

        <activity android:name=".activity.ActivityTestActivity"/>

        <activity
            android:name=".activity.GlideActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.ServiceDemo"/>

        <service
            android:name=".service.MessengerService"
            android:process=":remote"/>

        <activity
            android:name=".activity.customview.SimpleViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.customview.ScrollToActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.TcpServerService"/>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XDVEgqy8t2ZeuypsclzhHZrPQMwkP3Km"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

    </application>

</manifest>